### Elie K.Tumaini Homework

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [16]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

school_df = pd.DataFrame(school_data)

total_schools = school_df["School ID"].count()
total_students = school_df["size"].sum()
total_budget= school_df["budget"].sum()

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [17]:

avgmathscore = school_data_complete["math_score"].mean()
avgreadingscore = school_data_complete["reading_score"].mean()
passingmath = school_data_complete.query('math_score >70')["School ID"].count()/ total_students*100
passingreading = school_data_complete.query('reading_score >70')["School ID"].count()/ total_students*100
overallpassrate = (avgmathscore + avgreadingscore)/2
District_summary_df = pd.DataFrame({"Total Schools":[total_schools],
                                   "Total Students":[total_students],
                                   "Total Budget":[total_budget],
                                   "Average Math Score":[avgmathscore],
                                   "Average Reading Score":[avgreadingscore],
                                   "% Passing Math":[passingmath],
                                   "% Passing Reading":[passingreading],
                                   "% Overall Passing Rate":[overallpassrate]
                                   })



District_summary_df = District_summary_df[["Total Schools", "Total Students","Total Budget","Average Math Score",
                                           "Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing Rate"]]


District_summary_df

District_summary_df["Average Math Score"] = District_summary_df["Average Math Score"].map("{:.2f}".format)
District_summary_df["Average Reading Score"] = District_summary_df["Average Reading Score"].map("{:.2f}".format)
District_summary_df["Total Budget"] = District_summary_df["Total Budget"].map("{:,}".format)
District_summary_df["% Passing Math"] = District_summary_df["% Passing Math"].map("{:.2f}".format)
District_summary_df["% Passing Reading"] = District_summary_df["% Passing Reading"].map("{:.2f}".format)
District_summary_df["% Overall Passing Rate"] = District_summary_df["% Overall Passing Rate"].map("{:.2f}".format)


District_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,"24,649,428",78.99,81.88,72.39,82.97,80.43

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [18]:
#create initial groupby object which includes school name and school type already
schools_group = school_data_complete.groupby(['school_name', 'type'])



#total number of students is the length of the counts of each unique student ID
num_students = len(school_data_complete['Student ID'].value_counts())

#total budget is the sum of the budget of each school

#get the average budget for each school using groupby and mean
school_grp = school_data_complete.groupby(['school_name']).mean()

#sum the budget for each school's mean
total_budget = school_grp['budget'].sum()

#get the average math score
avg_math = school_data_complete["math_score"].mean()

#get the average reading score
avg_reading = school_data_complete["reading_score"].mean()
#count number of students per school
num_students_school = schools_group['school_name'].count()
#calculate overall passing rate
pass_rate = (avg_math + avg_reading) / 2

#calculate percentage of students with a passing math score


#first create a subframe of students who have math score > 70
#then divide total number of students by size of subframe 

stu_math_pass = school_data_complete.loc[school_data_complete["math_score"] >= 70]

math_pass_percent = 100 * (len(stu_math_pass) / num_students)

#29370/39170

#calculate percentage of students with passing reading score

stu_reading_pass = school_data_complete.loc[school_data_complete["reading_score"] >= 70]

reading_pass_percent = 100 * (len(stu_reading_pass) / num_students)




#get budget per school
budget_school = schools_group['budget']



school_df = schools_group.mean()
school_df["Per Student Budget"] = school_df["budget"] / school_df["size"]
school_df["average Math Score"] = schools_group['math_score'].mean()
school_df["average Reading Score"] = schools_group['reading_score'].mean()

#create groupby object with students who are passing math AND reading, respectively
df_math_pass = stu_math_pass.groupby(['school_name', 'type'])
df_reading_pass = stu_reading_pass.groupby(['school_name', 'type'])

#count number of math and reading passing students per school
num_stu_mathpass = df_math_pass['school_name'].count()
num_stu_readingpass = df_reading_pass['school_name'].count()

school_df["Percent of Students Passing Math"] = 100 * (num_stu_mathpass / num_students_school) 

school_df["Percent of Students Passing Reading"] = 100 * (num_stu_readingpass / num_students_school) 

school_df["Overall Passing Rate"] = (school_df["Percent of Students Passing Math"] + school_df["Percent of Students Passing Reading"]) /2



#renaming Columns
school_df.rename(columns={'size':'Total Students'}, inplace=True)
school_df.rename(columns={'budget':'Total School Budget'}, inplace=True)

school_df.rename(columns={'budget':'Total School Budget'}, inplace=True)
school_df.head()

,,Student ID,reading_score,math_score,School ID,Total Students,Total School Budget,Per Student Budget,average Math Score,average Reading Score,Percent of Students Passing Math,Percent of Students Passing Reading,Overall Passing Rate
school_name,type,,,,,,,,,,,,
Bailey High School,District,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,12995.5,83.816757,83.351499,4.0,1468.0,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [19]:
school_topfive = school_df.nlargest(5, 'Overall Passing Rate')
school_topfive

,,Student ID,reading_score,math_score,School ID,Total Students,Total School Budget,Per Student Budget,average Math Score,average Reading Score,Percent of Students Passing Math,Percent of Students Passing Reading,Overall Passing Rate
school_name,type,,,,,,,,,,,,
Cabrera High School,Charter,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,38352.0,83.848930,83.418349,14.0,1635.0,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,23754.5,84.044699,83.839917,9.0,962.0,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,12995.5,83.816757,83.351499,4.0,1468.0,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,14871.0,83.989488,83.274201,5.0,2283.0,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [20]:
 school_botfive = school_df.nsmallest(5, 'Overall Passing Rate')
school_botfive

,,Student ID,reading_score,math_score,School ID,Total Students,Total School Budget,Per Student Budget,average Math Score,average Reading Score,Percent of Students Passing Math,Percent of Students Passing Reading,Overall Passing Rate
school_name,type,,,,,,,,,,,,
Rodriguez High School,District,28035.0,80.744686,76.842711,11.0,3999.0,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [21]:
school_data_complete.head(25)
#create grade 9
grade_9 = school_data_complete.loc[school_data_complete['grade'].str.contains("9th")]

#create grade 10
grade_10 = school_data_complete.loc[school_data_complete['grade'].str.contains("10th")]

#create grade 11
grade_11 = school_data_complete.loc[school_data_complete['grade'].str.contains("11th")]

#create grade 12
grade_12 = school_data_complete.loc[school_data_complete['grade'].str.contains("12th")]

#groupby schools for each grade level and create a column for the scores for each
grade_9_schools = grade_9.groupby(['school_name', 'type'])

grade_9_schools_mean = grade_9_schools.mean()

grade_9_schools_mean["9th-Math"] = grade_9_schools_mean["math_score"]


grade_10_schools = grade_10.groupby(['school_name', 'type'])

grade_10_schools_mean = grade_10_schools.mean()

grade_10_schools_mean["10th-Math"] = grade_10_schools_mean["math_score"]


grade_11_schools = grade_11.groupby(['school_name', 'type'])

grade_11_schools_mean = grade_11_schools.mean()

grade_11_schools_mean["11th-Math"] = grade_11_schools_mean["math_score"]


grade_12_schools = grade_12.groupby(['school_name', 'type'])

grade_12_schools_mean = grade_12_schools.mean()

grade_12_schools_mean["12th-Math"] = grade_12_schools_mean["math_score"]

#create a list of grades and concatenate
grades = [grade_9_schools_mean, grade_10_schools_mean, grade_11_schools_mean, grade_12_schools_mean]

grade_means = grade_9_schools_mean

grade_means["10th-Math"] = grade_10_schools_mean["10th-Math"]

grade_means["11th-Math"] = grade_11_schools_mean["11th-Math"]

grade_means["12th-Math"] = grade_12_schools_mean["12th-Math"]

grade_means

,,Student ID,reading_score,math_score,School ID,size,budget,9th-Math,10th-Math,11th-Math,12th-Math
school_name,type,,,,,,,,,,
Bailey High School,District,20344.481481,81.303155,77.083676,7.0,4976.0,3124928.0,77.083676,76.996772,77.515588,76.492218
Cabrera High School,Charter,16969.634470,83.676136,83.094697,6.0,1858.0,1081356.0,83.094697,83.154506,82.765560,83.277487
Figueroa High School,District,4397.878505,81.198598,76.403037,1.0,2949.0,1884411.0,76.403037,76.539974,76.884344,77.151369
Ford High School,District,36170.595438,80.632653,77.361345,13.0,2739.0,1763916.0,77.361345,77.672316,76.918058,76.179963
Griffin High School,Charter,13031.305623,83.369193,82.044010,4.0,1468.0,917500.0,82.044010,84.229064,83.842105,83.356164
Hernandez High School,District,9928.620839,80.866860,77.438495,3.0,4635.0,3022020.0,77.438495,77.337408,77.136029,77.186567
Holden High School,Charter,23068.314961,83.677165,83.787402,8.0,427.0,248087.0,83.787402,83.429825,85.000000,82.855422
Huang High School,District,1445.726303,81.290284,77.027251,0.0,2917.0,1910635.0,77.027251,75.908735,76.446602,77.225641
Johnson High School,District,32399.975714,81.260714,77.187857,12.0,4761.0,3094650.0,77.187857,76.691117,77.491653,76.863248
Pena High School,Charter,23766.127273,83.807273,83.625455,9.0,962.0,585858.0,83.625455,83.372000,84.328125,84.121547
Rodriguez High School,District,28017.408076,80.993127,76.859966,11.0,3999.0,2547363.0,76.859966,76.612500,76.395626,77.690748
Shelton High School,Charter,6750.615094,84.122642,83.420755,2.0,1761.0,1056600.0,83.420755,82.917411,83.383495,83.778976
Thomas High School,Charter,38356.793926,83.728850,83.590022,14.0,1635.0,1043130.0,83.590022,83.087886,83.498795,83.497041
Wilson High School,Charter,14879.667195,83.939778,83.085578,5.0,2283.0,1319574.0,83.085578,83.724422,83.195326,83.035794
Wright High School,Charter,25152.370588,83.833333,83.264706,10.0,1800.0,1049400.0,83.264706,84.010288,83.836782,83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [22]:
#use previous school by grade dataframes looking for reading score instead of math

grade_9_schools_mean["9th-Reading"] = grade_9_schools_mean["reading_score"]
grade_10_schools_mean["10th-Reading"] = grade_10_schools_mean["reading_score"]
grade_11_schools_mean["11th-Reading"] = grade_11_schools_mean["reading_score"]
grade_12_schools_mean["12th-Reading"] = grade_12_schools_mean["reading_score"]

grade_means = grade_9_schools_mean

grade_means["10th-Reading"] = grade_10_schools_mean["10th-Reading"]

grade_means["11th-Reading"] = grade_11_schools_mean["11th-Reading"]

grade_means["12th-Reading"] = grade_12_schools_mean["12th-Reading"]

grade_means

,,Student ID,reading_score,math_score,School ID,size,budget,9th-Math,10th-Math,11th-Math,12th-Math,9th-Reading,10th-Reading,11th-Reading,12th-Reading
school_name,type,,,,,,,,,,,,,,
Bailey High School,District,20344.481481,81.303155,77.083676,7.0,4976.0,3124928.0,77.083676,76.996772,77.515588,76.492218,81.303155,80.907183,80.945643,80.912451
Cabrera High School,Charter,16969.634470,83.676136,83.094697,6.0,1858.0,1081356.0,83.094697,83.154506,82.765560,83.277487,83.676136,84.253219,83.788382,84.287958
Figueroa High School,District,4397.878505,81.198598,76.403037,1.0,2949.0,1884411.0,76.403037,76.539974,76.884344,77.151369,81.198598,81.408912,80.640339,81.384863
Ford High School,District,36170.595438,80.632653,77.361345,13.0,2739.0,1763916.0,77.361345,77.672316,76.918058,76.179963,80.632653,81.262712,80.403642,80.662338
Griffin High School,Charter,13031.305623,83.369193,82.044010,4.0,1468.0,917500.0,82.044010,84.229064,83.842105,83.356164,83.369193,83.706897,84.288089,84.013699
Hernandez High School,District,9928.620839,80.866860,77.438495,3.0,4635.0,3022020.0,77.438495,77.337408,77.136029,77.186567,80.866860,80.660147,81.396140,80.857143
Holden High School,Charter,23068.314961,83.677165,83.787402,8.0,427.0,248087.0,83.787402,83.429825,85.000000,82.855422,83.677165,83.324561,83.815534,84.698795
Huang High School,District,1445.726303,81.290284,77.027251,0.0,2917.0,1910635.0,77.027251,75.908735,76.446602,77.225641,81.290284,81.512386,81.417476,80.305983
Johnson High School,District,32399.975714,81.260714,77.187857,12.0,4761.0,3094650.0,77.187857,76.691117,77.491653,76.863248,81.260714,80.773431,80.616027,81.227564
Pena High School,Charter,23766.127273,83.807273,83.625455,9.0,962.0,585858.0,83.625455,83.372000,84.328125,84.121547,83.807273,83.612000,84.335938,84.591160
Rodriguez High School,District,28017.408076,80.993127,76.859966,11.0,3999.0,2547363.0,76.859966,76.612500,76.395626,77.690748,80.993127,80.629808,80.864811,80.376426
Shelton High School,Charter,6750.615094,84.122642,83.420755,2.0,1761.0,1056600.0,83.420755,82.917411,83.383495,83.778976,84.122642,83.441964,84.373786,82.781671
Thomas High School,Charter,38356.793926,83.728850,83.590022,14.0,1635.0,1043130.0,83.590022,83.087886,83.498795,83.497041,83.728850,84.254157,83.585542,83.831361
Wilson High School,Charter,14879.667195,83.939778,83.085578,5.0,2283.0,1319574.0,83.085578,83.724422,83.195326,83.035794,83.939778,84.021452,83.764608,84.317673
Wright High School,Charter,25152.370588,83.833333,83.264706,10.0,1800.0,1049400.0,83.264706,84.010288,83.836782,83.644986,83.833333,83.812757,84.156322,84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [23]:
#create school group from original data 
schools_group = school_data_complete.groupby(['school_name', 'type'])

school_df = schools_group.mean()
school_df["Per Student Budget"] = school_df["budget"] / school_df["size"]
school_df["average Math Score"] = schools_group['math_score'].mean()
school_df["average Reading Score"] = schools_group['reading_score'].mean()

#count number of math and reading passing students per school
num_stu_mathpass = df_math_pass['school_name'].count()
num_stu_readingpass = df_reading_pass['school_name'].count()

school_df["Percent of Students Passing Math"] = 100 * (num_stu_mathpass / num_students_school) 

school_df["Percent of Students Passing Reading"] = 100 * (num_stu_readingpass / num_students_school) 

school_df["Overall Passing Rate"] = (school_df["Percent of Students Passing Math"] + school_df["Percent of Students Passing Reading"]) /2

# Sample bins. Feel free to create your own bins.


spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

school_df["Per Student Budget Bin"] = pd.cut(school_df["Per Student Budget"], spending_bins, labels=group_names)
#create new dataframe

budget_bin = school_df


budget_bin = budget_bin.groupby(['Per Student Budget Bin']).mean()
budget_bin = budget_bin.drop("size", axis=1)
budget_bin = budget_bin.drop("Per Student Budget", axis=1)
budget_bin = budget_bin.drop("Student ID", axis=1)
#budget_bin = budget_bin.drop("size", axis=1)
budget_bin = budget_bin.drop("School ID", axis=1)
budget_bin = budget_bin.drop("math_score", axis=1)
budget_bin = budget_bin.drop("reading_score", axis=1)
budget_bin = budget_bin.drop("budget", axis=1)



budget_bin

,average Math Score,average Reading Score,Percent of Students Passing Math,Percent of Students Passing Reading,Overall Passing Rate
Per Student Budget Bin,,,,,
<$585,83.455399,83.933814,93.460096,96.610877,95.035486
$585-615,83.599686,83.885211,94.230858,95.900287,95.065572
$615-645,79.079225,81.891436,75.668212,86.106569,80.887391
$645-675,76.997210,81.027843,66.164813,81.133951,73.649382

## Scores by School Size

* Perform the same operations as above, based on school size.

In [24]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

#schools group object
schools_group = school_data_complete.groupby(['school_name', 'type'])




school_df = schools_group.mean()
school_df["Per Student Budget"] = school_df["budget"] / school_df["size"]
school_df["average Math Score"] = schools_group['math_score'].mean()
school_df["average Reading Score"] = schools_group['reading_score'].mean()

#count number of math and reading passing students per school
num_stu_mathpass = df_math_pass['school_name'].count()
num_stu_readingpass = df_reading_pass['school_name'].count()

school_df["Percent of Students Passing Math"] = 100 * (num_stu_mathpass / num_students_school) 

school_df["Percent of Students Passing Reading"] = 100 * (num_stu_readingpass / num_students_school) 

school_df["Overall Passing Rate"] = (school_df["Percent of Students Passing Math"] + school_df["Percent of Students Passing Reading"]) /2

school_df["School Size Bin"] = pd.cut(school_df["size"], size_bins, labels=group_names)




#create new dataframe and drop columns we don't need

size_school_grp  = school_df

size_school_grp = school_df.groupby(['School Size Bin']).mean()
size_school_grp = size_school_grp.drop("Student ID", axis=1)
size_school_grp = size_school_grp.drop("reading_score", axis=1)
size_school_grp = size_school_grp.drop("math_score", axis=1)
size_school_grp = size_school_grp.drop("size", axis=1)
size_school_grp = size_school_grp.drop("School ID", axis=1)
size_school_grp = size_school_grp.drop("budget", axis=1)
# size_school_grp = size_school_grp.drop("budget", axis=1)
# size_school_grp = size_school_grp.drop("Per Student Budget", axis=1)
size_school_grp

,Per Student Budget,average Math Score,average Reading Score,Percent of Students Passing Math,Percent of Students Passing Reading,Overall Passing Rate
School Size Bin,,,,,,
Small (<1000),595.000,83.821598,83.929843,93.550225,96.099437,94.824831
Medium (1000-2000),605.600,83.374684,83.864438,93.599695,96.790680,95.195187
Large (2000-5000),635.375,77.746417,81.344493,69.963361,82.766634,76.364998

## Scores by School Type

* Perform the same operations as above, based on school type

In [25]:
school_df = schools_group.mean()
school_df["Per Student Budget"] = school_df["budget"] / school_df["size"]
school_df["average Math Score"] = schools_group['math_score'].mean()
school_df["average Reading Score"] = schools_group['reading_score'].mean()

#count number of math and reading passing students per school
num_stu_mathpass = df_math_pass['school_name'].count()
num_stu_readingpass = df_reading_pass['school_name'].count()

school_df["Percent of Students Passing Math"] = 100 * (num_stu_mathpass / num_students_school) 

school_df["Percent of Students Passing Reading"] = 100 * (num_stu_readingpass / num_students_school) 

school_df["Overall Passing Rate"] = (school_df["Percent of Students Passing Math"] + school_df["Percent of Students Passing Reading"]) /2

school_df["School Size Bin"] = pd.cut(school_df["size"], size_bins, labels=group_names)


type_grp  = school_df.groupby(["type"]).mean()

type_grp.head(10)


type_grp = type_grp.drop("Student ID", axis=1)
type_grp = type_grp.drop("reading_score", axis=1)
type_grp = type_grp.drop("math_score", axis=1)
type_grp = type_grp.drop("size", axis=1)
type_grp = type_grp.drop("School ID", axis=1)
type_grp = type_grp.drop("budget", axis=1)
type_grp = type_grp.drop("Per Student Budget", axis=1)
type_grp

,average Math Score,average Reading Score,Percent of Students Passing Math,Percent of Students Passing Reading,Overall Passing Rate
type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,95.103660
District,76.956733,80.966636,66.548453,80.799062,73.673757